
.home {
    height: 100vh;
    background: linear-gradient(-90deg, #031540 65%, #fff 35%);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 10%;

}

.home-image {
    display: flex;
    position: absolute;
    justify-content: center;
    align-items: center;
    right: 58%;
    width: 500px;
    height: 500px;
    background: #031540;
    border-radius: 50%;
    border: 20px solid #fff;
    outline: 30px solid #031540;
    overflow: hidden;
}

.home-image img {
    display: block;
    left: 10%;
    position: relative;
    max-width: 550px;
    transform: rotate(13deg);
}

.home-content {
    position: absolute;
    left: 45%;
    max-width: 600px;
    color: #fff;
    text-align: right;
}

.home-content h1 {
    font-size: 55px;
    line-height: 1.2;
}

.home-content h3 {
    font-size: 40px;
    color: #00abf0;
    -webkit-text-stroke: .4px #fff;
}

.home-content p {
    font-size: 20px;
    margin-top: 15px;
}

footer {
    position: absolute;
    top: 95%;
    left: 90%;
    color: white;
    font-size: 10px;
}

footer a {
    color: white;
}