.projects-layout349 {
  gap: var(--dl-space-space-twounits);
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: center;
  flex-direction: column;
  background-size: cover;
  background-image: url('../../../public/assets/img/img7.jpg');
}

.projects-max-width {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.projects-container {
  width: 100%;
}

.projects-card {
  color: var(--dl-color-theme-neutral-light);
  width: 100%;
  height: 100%;
  display: flex;
  padding: var(--dl-space-space-unit);
  align-self: flex-start;
  align-items: center;
  border-color: var(--dl-color-theme-accent2);
  border-style: solid;
  border-width: 2px;
  border-radius: var(--dl-radius-radius-buttonradius);
  flex-direction: column;
  justify-content: flex-start;
  background-color: var(--dl-color-theme-neutral-light);
}


.projects-name {
  fill: var(--dl-color-theme-accent2);
  color: var(--dl-color-theme-accent2);
}

.projects-text {
  fill: var(--dl-color-theme-neutral-dark);
  color: var(--dl-color-theme-neutral-dark);
  font-size: 20px;
  font-style: normal;
  text-align: center;
  font-weight: 500;
  padding-top: 0px;
  padding-left: 0px;
  padding-right: 0px;
  padding-bottom: var(--dl-space-space-unit);
  text-transform: capitalize;
}

.projects-image {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  padding: 0px;
  align-self: center;
  margin-top: var(--dl-space-space-halfunit);
  object-fit: cover;
  border-color: var(--dl-color-theme-accent2);
  border-style: solid;
  border-width: 3px;
  border-radius: var(--dl-radius-radius-buttonradius);
  background-size: cover;
  background-position: center;
}

.GameStats {
  background-image: url('../../../public/assets/img/img2.jpg');
}

.CharityDonations {
  background-image: url('../../../public/assets/img/img1.jpg');
}

.WebScrapperPY {
  background-image: url('../../../public/assets/img/img4.png');
}

.Portfolio {
  background-image: url('../../../public/assets/img/img5.png');
}

.FlaskCRUD {
  background-image: url('../../../public/assets/img/img6.png');
}

@media(max-width: 991px) {
  .projects-max-width {
    flex-direction: column;
  }
}

@media(max-width: 767px) {
  .projects-card {
    width: 100%;
  }
}