.fun-page-container {
  width: 100%;
  display: flex;
  min-height: 100vh;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}

.projects-fun-container {
  width: 100%;
  height: auto;
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
}
.projects-fun-max-width {
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  align-items: center;
  flex-direction: column;
}
.projects-fun-content {
  align-self: stretch;
  align-items: flex-start;
}
.projects-fun-ul {
  width: 100%;
  align-items: flex-start;
}
.projects-fun-li {
  fill: var(--dl-color-theme-neutral-dark);
  color: var(--dl-color-theme-neutral-dark);
  width: 100%;
  padding: var(--dl-space-space-unit);
  border-color: var(--dl-color-theme-accent2);
  border-width: 3px;
  text-decoration: none;
  background-color: var(--dl-color-theme-secondary1);
}
.projects-fun-heading6 {
  fill: var(--dl-color-theme-accent2);
  color: var(--dl-color-theme-accent2);
}
.projects-fun-li1 {
  fill: var(--dl-color-theme-neutral-dark);
  color: var(--dl-color-theme-neutral-dark);
  width: 100%;
  padding: var(--dl-space-space-unit);
  border-color: var(--dl-color-theme-accent2);
  border-width: 3px;
  text-decoration: none;
  background-color: var(--dl-color-theme-secondary1);
}
.projects-fun-heading61 {
  fill: var(--dl-color-theme-accent2);
  color: var(--dl-color-theme-accent2);
}
.projects-fun-li2 {
  fill: var(--dl-color-theme-neutral-dark);
  color: var(--dl-color-theme-neutral-dark);
  width: 100%;
  padding: var(--dl-space-space-unit);
  border-color: var(--dl-color-theme-accent2);
  border-width: 3px;
  text-decoration: none;
  background-color: var(--dl-color-theme-secondary1);
}
.projects-fun-heading62 {
  fill: var(--dl-color-theme-accent2);
  color: var(--dl-color-theme-accent2);
}
.projects-fun-li3 {
  fill: var(--dl-color-theme-neutral-dark);
  color: var(--dl-color-theme-neutral-dark);
  width: 100%;
  padding: var(--dl-space-space-unit);
  border-color: var(--dl-color-theme-accent2);
  border-width: 3px;
  text-decoration: none;
  background-color: var(--dl-color-theme-secondary1);
}
.projects-fun-heading63 {
  fill: var(--dl-color-theme-accent2);
  color: var(--dl-color-theme-accent2);
}
.projects-fun-li4 {
  fill: var(--dl-color-theme-neutral-dark);
  color: var(--dl-color-theme-neutral-dark);
  width: 100%;
  padding: var(--dl-space-space-unit);
  border-color: var(--dl-color-theme-accent2);
  border-width: 3px;
  text-decoration: none;
  background-color: var(--dl-color-theme-secondary1);
}
.projects-fun-heading64 {
  fill: var(--dl-color-theme-accent2);
  color: var(--dl-color-theme-accent2);
}
.projects-fun-li5 {
  fill: var(--dl-color-theme-neutral-dark);
  color: var(--dl-color-theme-neutral-dark);
  width: 100%;
  padding: var(--dl-space-space-unit);
  border-color: var(--dl-color-theme-accent2);
  border-width: 3px;
  text-decoration: none;
  background-color: var(--dl-color-theme-secondary1);
}
.projects-fun-heading65 {
  fill: var(--dl-color-theme-accent2);
  color: var(--dl-color-theme-accent2);
}

