.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 18px 30px;
    background: #031540;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo {
    font-size: 30px;
    text-decoration: none;
    font-weight: 700;
    color: #fff;
}

.navbar a {
    font-size: 22px;
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    margin-left: 35px;
    transition: 0.3s;
}

.navbar a:hover,
.navbar a.active {
    color: #00abf0;
}