@import url('https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css');

.home-sci {
    margin: 25px 0 40px;
}

.home-sci a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: transparent;
    border: 2px solid #fff;
    border-radius: 50%;
    font-size: 20px;
    color: #00abf0;
    text-decoration: none;
    margin-left: 12px;
    transition: 0.3s;
}

.home-sci a:hover {
    background: #00abf0;
    color: #fff;
    border-color: #00abf0;
    box-shadow: 0 0 10px #00abf0;
}